@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

#covid-header{
  background-color: white;
  max-height: 100vh;
}

#covid-heading{
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
}

img {
  width: 200px;
  display: block;
}

.wordlwide {
  background-color: antiquewhite;
  height: 220px;
}

.philippines {
  background-color: aquamarine;
  height: 220px;
}

.wordlwide,
.philippines {
  flex: 1;
  padding: 50px 0;
  position: relative;
}

.image {
  position: absolute;
  top: 10px;
  right: 50px;
  display: none;
}

.container {
  max-width: 1150px;
  width: 80%;
  margin: 0 auto;
}

.world__status,
.phil__status {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#test{
  transform: translate(-5em,0);
}
.status__item {
  width: 20%;
}

.status__item p {
  text-transform: uppercase;
}

.confirmed {
  color: #8d92bb;
}

.deaths {
  color: #f86aa0;
}

.recovered {
  color: brown;
}

.stats_head{
  text-align: center;
}

@media (min-width: 650px) {

  .image {
    display: block;
  }
}

@media (min-width: 1300px) {
  .row {
    display: flex;
  }
}

.search {
  padding: 50px;
  background-color: white;
}

.search__wrapper {
  display: flex;
  justify-content: center;
}

.search form {
  width: 100%;
  max-width: 527px;
}

.search__container {
  display: flex;
}

.search__container input {
  width: 100%;
  border: 1px solid #eee;
  padding: 10px 20px;
  background-color: #b2c9ec;
  outline: none;
}

.search__container input::placeholder {
  color: #000;
}

.search__container button {
  border: 1px solid transparent;
  cursor: pointer;
  background-color: darksalmon;
  padding: 2px 20px;
  color: #fff;
  outline: none;
  position: relative;
  right: 1px;
}

.search__result {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.search__result img {
  width: 100%;
  display: block;
}

@media (max-width: 768px) {

  .world__status,
  .phil__status {
    display: grid;
  }

  .wordlwide {
  height: 400px;
}

.philippines {
  height: 400px;
}
  .flag,
  ul {
    width: 100%;
  }
}

.error {
  display: block;
  background-color: crimson;
  color: #fff;
  padding: 5px;
}

.loader {
  display: block;
  margin: 0 auto;
}